.settings {
  z-index: 10;
  position: fixed;
  left: 25px;
  bottom: 60px;
  .button-settings {
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url('../assets/svg/setting.svg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 10;
  }
  &-container {
    position: absolute;
    left: -20px;
    bottom: 45px;
    padding: 15px;
    padding-left: 5px;
    width: 290px;
    background-color: rgba($color: #000000, $alpha: .5);
    border-radius: 10px;
    opacity: 1;
    z-index: 1;
    transition: all .4s;
    &::after {
      position: absolute;
      bottom: -15px;
      left: 17px;
      content: "";
      display: block;
      border: 15px solid rgba($color: #000000, $alpha: .5);
      border-bottom-width: 0;
      border-left-color: transparent;
      border-right-color: transparent;
    }
    .language {
      align-items: center;
      div {
        display: flex;
        gap: 5px;
      }
    }
    & > div {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border-bottom: 2px solid white;
    }
    & > div:last-child {
      border: none;
    }
    .bg-source > div {
      width: 150px;
      .tags {
        display: block;
        &.none {
          display: none;
        }
      }
      input[type="text"] {
        margin-top: 5px;
        padding: 5px;
        width: 100%;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 3px;
        box-sizing: border-box;
        outline: none;
      }
    }
    h2 {
      font-size: 18px;
    }
    .list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 150px;
      list-style: none;
      &-source {
        margin-bottom: 10px;
        input {
          width: 0;
          height: 0;
          appearance: none;
        }
        label {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 16px;
          height: 16px;
          border: 3px solid white;
          box-sizing: border-box;
          border-radius: 50%;
          cursor: pointer;
        }
        input:checked + label span {
          display: block;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: white;
        }
      }
      &--item {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
input[type="checkbox"] {
  width: 0;
  height: 0;
  appearance: none;
}
label.toggle {
  position: relative;
  display: flex;
  align-items: center;
  width: 32px;
  height: 16px;
  border-radius: 8px;
  border: 1px solid white;
  cursor: pointer;
  &::before {
    position: absolute;
    left: 1px;
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: white;
    transition: all .3s;
  }
}

input[type="checkbox"]:checked + label::before {
  left: 17px;
}