* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

@import "clock";
@import "player";
@import "weather";

.container {
  display: flex;
  flex-direction: column;
  .section {
    padding: 15px;
  }
  .top {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }
  .section-clock {
    flex: 1;
  }
}